
$font-size-base: 14px;

$xs: "(min-width: 420px)";
$sm: "(min-width: 650px)";
$md: "(min-width: 992px)";
$lg: "(min-width: 1200px)";
$xl: "(min-width: 1560px)";


$border: #dddddd;
$red: #e38073;
$blue: #a4dae9;
$green: #2ECC71;
$yellow: #faf3af;
$link: #009d9c;
$sans: -apple-system, BlinkMacSystemFont, sans-serif;


@mixin transition($what: all, $time: 0.2s, $transition: ease-in-out) {
  -webkit-transition: $what $time $transition;
  -moz-transition:    $what $time $transition;
  -ms-transition:     $what $time $transition;
  -o-transition:      $what $time $transition;
  transition:         $what $time $transition;
}

@mixin rotate ($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform:    rotate($deg);
  -ms-transform:     rotate($deg);
  -o-transform:      rotate($deg);
}

@mixin animation-delay($str) {
  -webkit-animation-delay: #{$str};
  -moz-animation-delay: #{$str};
  -ms-animation-delay: #{$str};
  -o-animation-delay: #{$str};
  animation-delay: #{$str};
}

@mixin animation-duration($str) {
  -webkit-animation-duration: #{$str};
  -moz-animation-duration: #{$str};
  -ms-animation-duration: #{$str};
  -o-animation-duration: #{$str};
  animation-duration: #{$str};
}
